# File types to be ignored

*.DS_Store
*.pvd
*.pvtu
*.vtu

# Folders to be ignored

*__pycache__/
*.idea
output
notes
SeaIceSim.egg-info

# for the time being

plots
tests/compile.py
tests/test-outputs.py
